{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title> {% block title %}{% endblock %} </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
{#    <script src="{% static 'js/bootstrap.js' %}"></script>#}
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>#}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block style %}
        <style>
            a[style]{
                background: none !important;
                link: #0000FF;
            }
        </style>
    {% endblock %}


</head>
<body style="background: #e6e6e6">
    <nav class="navbar navbar-dark sticky-top" style="background: rgba(6, 31, 71, 0.8); margin-bottom: 75px">
        <div class="d-flex justify-content-start">
            <a class="navbar-brand" href="{% url 'index' %}">SibDevBlog</a>
        </div>
        <div class="d-flex justify-content-end">
            {% block login_logout_register_block %}
                <a class="btn btn-md btn-outline-light mx-3" href="{% url "register" %}">Sign Up</a>
                <a class="btn btn-md btn-outline-light mx-3" href="{% url "auth" %}">Log In</a>
            {% endblock %}
        </div>
    </nav>
    <main role="main" class="container" style="margin-bottom: 100px">
        {% block content %}{% endblock %}
    </main>
    <footer class="fixed-bottom modal-footer p-2" style="background: rgba(6, 31, 71, 0.88)">
        <a href="https://vk.com/sibdevpro" target="_blank"><img src="{% static 'img/vk.png' %}" width="30" height="30"></a>
        <a href="https://www.instagram.com/sibdevstudio/" target="_blank"><img src="{% static 'img/inst.png' %}" width="30" height="30"></a>
        <a href="https://twitter.com/SibdevStudio" target="_blank"><img src="{% static 'img/tw.png' %}" width="30" height="30"></a>
    </footer>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>
