{% extends "base.html" %}

{% block title %}
    SibDev Blog
{% endblock %}

{% block login_logout_register_block %}
    {% if user.is_authenticated %}
        <a class="btn btn-outline-light mx-3" href="{% url "profile" user.username %}">Profile</a>
        <a class="btn btn-outline-light mx-3" href="{% url "deauth" %}">Log Out</a>
    {% else %}
        <a class="btn btn-outline-light mx-3" href="{% url "register" %}">Sign Up</a>
        <a class="btn btn-outline-light mx-3" href="{% url "auth" %}">Log In</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <article>
                    <a class="text-secondary" style="text-decoration: none" href="{% url 'post' post.pk %}">
                        <h3 class="card-title"> {{ post.title }} </h3>
                    </a>
                    <p>
                        {{ post.published_date|date:"M d, Y H:m" }} by
                        {% if post.author %}
                            <a class="font-italic alert-link" style="text-decoration: none" href="{% url 'profile' post.author %}">{{ post.author }}</a>
                        {% endif %}
                    </p>
                    <div class="container pl-5">
                        {{ post.pretext|safe }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-outline-secondary mt-3" href="{% url 'post' post.pk %}">Read...</a>
                    </div>
                </article>
                <hr>
            {% endfor %}
        {% endif %}
    </div>

    {% if posts.has_previous %}
        <a class="btn btn-outline-secondary m-3" href="?page={{ posts.previous_page_number }}">< Previously</a>
    {% endif %}
    {% if posts.has_next %}
        <a class="btn btn-outline-secondary m-3" href="?page={{ posts.next_page_number }}"> Next ></a>
    {% endif %}
{% endblock %}
