{% extends 'base.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block login_logout_register_block %}
    {% if user.is_authenticated %}
        {% if user.username == username %}
            <a class="btn btn-outline-light mx-3" href="{% url "edit_profile" %}">Edit profile</a>
        {% else %}
            <a class="btn btn-outline-light mx-3" href="{% url 'profile' user.username %}">Profile</a>
        {% endif %}

        <a class="btn btn-outline-light mx-3" href="{% url "deauth" %}">Log Out</a>
    {% else %}
        <a class="btn btn-md btn-outline-light mx-3" href="{% url "register" %}">Sign Up</a>
        <a class="btn btn-md btn-outline-light mx-3" href="{% url "auth" %}">Log In</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="">{{ username }}</h1>
    {% if user.username == username %}
        <div class="d-flex justify-content-end mb-5 container">
            <a class="btn btn-outline-primary" href="{% url 'create' %}"><h3>+ Add new post</h3></a>
        </div>
    {% endif %}
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <article>
                    <a class="text-secondary" style="text-decoration: none;" href="{% url 'post' post.pk %}">
                        <h5 class="card-title"> {{ post.title }} </h5>
                    </a>
                    <p class="mb-0">
                        {{ post.published_date|date:"M d, Y H:m" }}
                    </p>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-outline-secondary" href="{% url 'post' post.pk %}">Read...</a>
                        {% if user.username == username %}
                            <a class="btn btn-outline-secondary ml-3" href="{% url 'edit' post.pk %}">Edit...</a>
                        {% endif %}
                    </div>
                </article>
                <hr>
            {% endfor %}

            {% if posts.has_previous %}
                <a class="btn btn-outline-secondary m-3" href="?page={{ posts.previous_page_number }}">< Previously</a>
            {% endif %}
            {% if posts.has_next %}
                <a class="btn btn-outline-secondary m-3" href="?page={{ posts.next_page_number }}"> Next ></a>
            {% endif %}

        {% endif %}
    </div>
{% endblock %}